<?xml version="1.0" ?>
<robot name="sample">
   <link name="sample">
      <visual>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0"/>
         </geometry>
         <gazebo>
            <mu1>0.70</mu1>
            <mu2>0.55</mu2>
         </gazebo>
      </collision>
      <inertial>
         <mass value="20.0000"/>
         <origin xyz="0 0 0"/>
         <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <extra_info>
         <scale>1.065466</scale>
         <version>v0.1.7</version>
         <category>toy</category>
         <description>yellow and black off-road toy vehicle with large wheels</description>
         <min_height>0.6</min_height>
         <max_height>0.7</max_height>
         <real_height>0.65</real_height>
         <min_mass>15.0</min_mass>
         <max_mass>25.0</max_mass>
         <color>yellow</color>
         <rgba>[1.0, 0.8, 0.0, 1.0]</rgba>
         <generate_time>20260525134837</generate_time>
         <gs_model>mesh/sample_gs.ply</gs_model>
      </extra_info>
   </link>
   <custom_data>
      <quality>
         <MeshGeoChecker>YES</MeshGeoChecker>
         <ImageSegChecker>NO, segmentation has artifacts and incomplete edges, especially on the right side and wheels.</ImageSegChecker>
         <ImageAestheticChecker>3.801965832710266</ImageAestheticChecker>
         <overall>NO</overall>
      </quality>
   </custom_data>
</robot>