<?xml version="1.0" ?>
<robot name="sample">
   <link name="sample">
      <visual>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0"/>
         </geometry>
         <gazebo>
            <mu1>0.40</mu1>
            <mu2>0.30</mu2>
         </gazebo>
      </collision>
      <inertial>
         <mass value="0.0150"/>
         <origin xyz="0 0 0"/>
         <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <extra_info>
         <scale>0.188598</scale>
         <version>v0.1.7</version>
         <category>marker</category>
         <description>white cylindrical marker with colorful label</description>
         <min_height>0.018</min_height>
         <max_height>0.025</max_height>
         <real_height>0.0215</real_height>
         <min_mass>0.01</min_mass>
         <max_mass>0.02</max_mass>
         <generate_time>20260403140907</generate_time>
         <gs_model>mesh/sample_gs.ply</gs_model>
      </extra_info>
   </link>
   <custom_data>
      <quality>
         <MeshGeoChecker>NO: marker has inconsistent geometry and missing cap.</MeshGeoChecker>
         <ImageSegChecker>NO, object is incomplete and distorted with artifacts; not geometrically accurate or realistic.</ImageSegChecker>
         <ImageAestheticChecker>4.6959381103515625</ImageAestheticChecker>
         <overall>NO</overall>
      </quality>
   </custom_data>
</robot>