<?xml version='1.0' encoding='utf-8'?>
<robot name="sample">
    <link name="sample">
        <visual>
            <origin xyz="0 0 0" rpy="1.5708 0.0 0.0" />
            <geometry>
                <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.5708 0.0 0.0" />
            <geometry>
                <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0" />
            </geometry>
            <gazebo>
                <mu1>0.80</mu1> 
                <mu2>0.60</mu2> 
            </gazebo>
        </collision>
        <inertial>
            <mass value="1.0000" />
            <origin xyz="0 0 0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>
        <extra_info>
            <scale>0.120000</scale>
            <version>v0.1.7</version>
            <category>toy</category>
            <description>toy</description>
            <min_height>0.06</min_height>
            <max_height>0.08</max_height>
            <real_height>0.070</real_height>
            <min_mass>0.05</min_mass>
            <max_mass>0.15</max_mass>
            <color>unknown</color>
            <rgba>[0.5, 0.5, 0.5, 1.0]</rgba>
            <generate_time>20260813163515</generate_time>
            <gs_model>""</gs_model>
        </extra_info>
    </link>
</robot>