<?xml version="1.0" ?>
<robot name="sample">
   <link name="sample">
      <visual>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0"/>
         </geometry>
         <gazebo>
            <mu1>0.70</mu1>
            <mu2>0.50</mu2>
         </gazebo>
      </collision>
      <inertial>
         <mass value="5.0000"/>
         <origin xyz="0 0 0"/>
         <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <extra_info>
         <scale>0.720649</scale>
         <version>v0.1.7</version>
         <category>computer monitor</category>
         <description>flat-screen display with stand and colorful screen</description>
         <min_height>0.5</min_height>
         <max_height>0.6</max_height>
         <real_height>0.55</real_height>
         <min_mass>4.0</min_mass>
         <max_mass>6.0</max_mass>
         <color>black</color>
         <rgba>[0.1, 0.1, 0.1, 1.0]</rgba>
         <generate_time>20260518154902</generate_time>
         <gs_model>mesh/sample_gs.ply</gs_model>
      </extra_info>
   </link>
   <custom_data>
      <quality>
         <MeshGeoChecker>YES</MeshGeoChecker>
         <ImageSegChecker>NO, object is not fully extracted, base is truncated and background artifacts remain.</ImageSegChecker>
         <ImageAestheticChecker>4.989647626876831</ImageAestheticChecker>
         <overall>NO</overall>
      </quality>
   </custom_data>
</robot>