<?xml version="1.0" ?>
<robot name="sample">
   <link name="sample">
      <visual>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0"/>
         </geometry>
         <gazebo>
            <mu1>0.40</mu1>
            <mu2>0.30</mu2>
         </gazebo>
      </collision>
      <inertial>
         <mass value="0.2000"/>
         <origin xyz="0 0 0"/>
         <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <extra_info>
         <scale>0.106786</scale>
         <version>v0.1.7</version>
         <category>apple</category>
         <description>red apple cut in half, showing core and seeds</description>
         <min_height>0.08</min_height>
         <max_height>0.1</max_height>
         <real_height>0.09</real_height>
         <min_mass>0.15</min_mass>
         <max_mass>0.25</max_mass>
         <color>red</color>
         <rgba>[0.9, 0.2, 0.2, 1.0]</rgba>
         <generate_time>20260526145926</generate_time>
         <gs_model>mesh/sample_gs.ply</gs_model>
      </extra_info>
   </link>
   <custom_data>
      <quality>
         <MeshGeoChecker>YES</MeshGeoChecker>
         <ImageSegChecker>NO, missing whole apple, only half is segmented.</ImageSegChecker>
         <ImageAestheticChecker>4.759791016578674</ImageAestheticChecker>
         <overall>NO</overall>
      </quality>
   </custom_data>
</robot>