<?xml version="1.0" ?>
<robot name="sample">
   <link name="sample">
      <visual>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0"/>
         </geometry>
         <gazebo>
            <mu1>0.50</mu1>
            <mu2>0.40</mu2>
         </gazebo>
      </collision>
      <inertial>
         <mass value="0.4000"/>
         <origin xyz="0 0 0"/>
         <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <extra_info>
         <scale>0.275000</scale>
         <version>v0.1.7</version>
         <category>bottle drink</category>
         <description>transparent plastic bottle with red cap and label</description>
         <min_height>0.25</min_height>
         <max_height>0.3</max_height>
         <real_height>0.275</real_height>
         <min_mass>0.3</min_mass>
         <max_mass>0.5</max_mass>
         <color>white</color>
         <rgba>[0.95, 0.95, 0.95, 1.0]</rgba>
         <generate_time>20260708110848</generate_time>
         <gs_model>mesh/sample_gs.ply</gs_model>
      </extra_info>
   </link>
   <custom_data>
      <quality>
         <MeshGeoChecker>YES</MeshGeoChecker>
         <ImageSegChecker>NO, object is not centered and has visible background artifacts.</ImageSegChecker>
         <ImageAestheticChecker>4.425690174102783</ImageAestheticChecker>
         <overall>NO</overall>
      </quality>
   </custom_data>
</robot>