<?xml version="1.0" ?>
<robot name="sample">
   <link name="sample">
      <visual>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0"/>
         </geometry>
         <gazebo>
            <mu1>0.40</mu1>
            <mu2>0.30</mu2>
         </gazebo>
      </collision>
      <inertial>
         <mass value="0.0750"/>
         <origin xyz="0 0 0"/>
         <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <extra_info>
         <scale>0.070679</scale>
         <version>v0.1.7</version>
         <category>battery</category>
         <description>cylindrical yellow battery with metallic ends</description>
         <min_height>0.018</min_height>
         <max_height>0.025</max_height>
         <real_height>0.0215</real_height>
         <min_mass>0.05</min_mass>
         <max_mass>0.1</max_mass>
         <color>yellow</color>
         <rgba>[1.0, 0.9, 0.0, 1.0]</rgba>
         <generate_time>20260625092948</generate_time>
         <gs_model>mesh/sample_gs.ply</gs_model>
      </extra_info>
   </link>
   <custom_data>
      <quality>
         <MeshGeoChecker>YES</MeshGeoChecker>
         <ImageSegChecker>NO, background artifacts and color bleeding indicate poor segmentation.</ImageSegChecker>
         <ImageAestheticChecker>4.025373578071594</ImageAestheticChecker>
         <overall>NO</overall>
      </quality>
   </custom_data>
</robot>