<?xml version="1.0" ?>
<robot name="sample">
   <link name="sample">
      <visual>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample.obj" scale="1.0 1.0 1.0"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="1.5708 0.0 0.0"/>
         <geometry>
            <mesh filename="mesh/sample_collision.obj" scale="1.0 1.0 1.0"/>
         </geometry>
         <gazebo>
            <mu1>0.70</mu1>
            <mu2>0.55</mu2>
         </gazebo>
      </collision>
      <inertial>
         <mass value="1.2500"/>
         <origin xyz="0 0 0"/>
         <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
      <extra_info>
         <scale>0.486507</scale>
         <version>v0.1.7</version>
         <category>keyboard</category>
         <description>pink mechanical keyboard with raised keys</description>
         <min_height>0.04</min_height>
         <max_height>0.06</max_height>
         <real_height>0.05</real_height>
         <min_mass>1.0</min_mass>
         <max_mass>1.5</max_mass>
         <generate_time>20260401150020</generate_time>
         <gs_model>mesh/sample_gs.ply</gs_model>
      </extra_info>
   </link>
   <custom_data>
      <quality>
         <MeshGeoChecker>YES</MeshGeoChecker>
         <ImageSegChecker>NO, object is not centered and background artifacts remain.</ImageSegChecker>
         <ImageAestheticChecker>4.352730393409729</ImageAestheticChecker>
         <overall>NO</overall>
      </quality>
   </custom_data>
</robot>